*{
    font-family: 'Consolas', sans-serif;
    color: beige;
}

.mainTitle{
    background: rgba(146, 146, 150, 0.192);
    border-radius: 0px;
}

#topHomeContainer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.801), rgba(32, 32, 32, 0.199)), url('https://source.unsplash.com/-tOr_T4qTpQ');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
}

#bottomHomeContainer{
    background-image: linear-gradient(rgba(206, 206, 206, 0.021), rgba(20, 20, 20, 0.397)), url('https://source.unsplash.com/gPm8h3DS1s4');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
}

.form-label{
    font-size: 16px;
}

table 
{
    table-layout:fixed;
    width:100%;
}

.card{
    /* box-shadow: 5px 5px 20px 1px rgba(252, 252, 252, 0.904); */
    border-radius: 16px;
    background: rgba(14, 13, 13, 0.747);
}

.card-img{
    border-radius: 16px;
}


h4, h5{
    margin: 0;
    text-align: center;
}

td{
    word-wrap: break-word;
}

.modal{
    background: rgba(31, 30, 30, 0.815);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.modalGlass{
    background: rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(184, 184, 184, 0.9);
}
