*{
    font-family: 'Consolas','Calibri Light', sans-serif;
    color: rgb(27, 27, 27);
}

.fixedBox {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(6, 128, 150, 0.877);
    padding: 16px;
    padding-right: 25px;
    padding-bottom: 5px;
    z-index: 5;
    text-align: right;
}


.navbar {
    z-index: 1;
    background-color: rgba(6, 128, 150, 0.877);
}

.navbar-brand {
    font-size: 22px;
}


.nav-link {
    font-size: 18px;
    margin-right: 10px;
}

#topHomeContainer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.801), rgba(32, 32, 32, 0.199)), url('https://source.unsplash.com/-tOr_T4qTpQ');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
}

#bottomHomeContainer{
    background-image: linear-gradient(rgba(206, 206, 206, 0.021), rgba(20, 20, 20, 0.397)), url('https://source.unsplash.com/gPm8h3DS1s4');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
}


#formMessage {
    animation-name: sent-message;
    animation-duration: 6s;
    animation-timing-function: ease;
   border-radius: 15px;
    background-color: #da3428;
    color: rgb(226, 226, 217);
}

@keyframes sent-message {
    0% {opacity: 0; transform: translate(0px, -41px);}
    25%{opacity: 1; transform: translate(0px, 100px);}
    50% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;transform: translate(0px, 100px);}
}

#formMessage2{
    height: 40px;
}

.form-label{
    font-size: 16px;
}

.formBtnAnimation{
    animation-name: form-btn-animation;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    border: none;
}

@keyframes form-btn-animation {
    0%{background-color: #ffc107; transform: scale(1.0) rotateY(360deg); color: black;}
    50%{background-color:rgba(73, 228, 255, 0.877); transform: scale(1.15); color: black;}
    100%{background-color: #ffc107; transform: scale(1.0); color: black;}
}

table 
{
    table-layout:fixed;
    width:100%;
}

.card{
    /* box-shadow: 5px 5px 20px 1px rgba(252, 252, 252, 0.904); */
    border-radius: 16px;
    background: rgba(27, 27, 27, 0.932);
    box-shadow: 0 4px 30px rgba(184, 184, 184, 0.5);
}

.card-img{
    border-radius: 16px;
}

.card-img:hover{
    transform: scale(1.05);
}

.beigeTextColor{
    color: rgb(221, 221, 198);
}

.productDetailsId{
    font-size: 12px;
    font-style: italic;
}

/* .cardTextColor{
    color: rgb(221, 221, 198);
} */

.card-quantity, .card-bool {
    font-size: 14px;
}


h4, h5{
    margin: 0;
    text-align: center;
}

td{
    word-wrap: break-word;
}

.modal{
    background: rgba(31, 30, 30, 0.815);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.modalGlass{
    background: rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(184, 184, 184, 0.9);
}

.menuBoxBtn {
    background-color: #ffc107;
    border-radius: 10%;
    box-shadow: 5px 5px 12px rgb(87, 87, 87);
}

.menuBoxBtn-animation {
    background-color: #ffc107;
    border-radius: 10%;
    box-shadow: 5px 5px 12px rgb(87, 87, 87);
    animation-name: menu-home-btn;
    animation-duration: 1.5s;
    /* animation-timing-function: ease; */
    /* border: 1px solid rgb(6, 128, 150); */
}

.menuBoxBtn:hover {
    background-color: #d39e00;
}

@keyframes menu-home-btn {
    0%{transform: rotate(0deg);}
    50%{transform: rotate(360deg);}
    100%{transform: rotate(0deg);}
}

/* .cartDiv {
    position: -webkit-sticky;
    position: sticky;
    top: 3px;
    z-index: 10;
} */


