body {
  margin: 0;
  font-family: 'Consolas', 'Calibri Light' , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.main-background{
  background-color: #042d49;
}



